html {
    box-sizing: border-box;
  }
  :before, *:after {
    box-sizing: inherit;
  }

h1, h2 {
    text-align: center;
    font-family: Trebuchet, sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(212, 93, 212);
    padding: 20px;
    width: 300px;
    margin: 0px auto;
}

h2 {
    font-family: 27px;
    font-weight: bold;
    background-color: rgb(66, 117, 66);
}

p, ul, ol{
    font-size: 20px;
}

p {
    color:rgb(80, 80, 80);
    font-family: Arial, sans-serif;
}

ul{
    color: crimson;
    font-family: Georgia, sans-serif;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0px 10px;
}

ol{
    color: lightblue;
    font-family: Verdana, sans-serif;
}